#notificationModal.modal-open.btn:focus,
#notificationModal.modal .modal-dialog .btn-close:focus,
#notificationModal.modal .notify-item .notify-close:focus {
  box-shadow: none;
}

#notificationModal.modal .modal-dialog .modal-content {
  max-height: 98vh;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#notificationModal.modal .modal-dialog .modal-header {
  border-bottom-width: 0;
}

#notificationModal.modal .modal-dialog .modal-footer {
  border-top-width: 0;
}

#notificationModal.modal .modal-dialog .btn-close {
  background-color: var(--light);
  margin-left: 0;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  padding: 0;
}

#notificationModal.modal .modal-dialog .modal-header .modal-title {
  margin-left: auto;
  margin-right: auto;
  color: var(--dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 31.68px */
  letter-spacing: -0.48px;
}

#notificationModal.modal .modal-content::-webkit-scrollbar {
  display: none;
}

#notificationModal.modal .modal-dialog .modal-body::-webkit-scrollbar {
  display: none;
}

#notificationModal.modal .modal-dialog .modal-body.notify-body {
  height: 100%;
  overflow-y: auto;
}

#notificationModal.modal .modal-dialog .modal-body.notify-body > * + * {
  margin-top: 10px;
}

#notificationModal.modal .notify-item {
  display: flex;
  align-items: start;
  background-color: #eff5fe;
  gap: 12px;
  padding: 16px;
  border-radius: 18px;
}

#notificationModal.modal .notify-item .notify-details {
  margin-right: auto;
}

#notificationModal.modal .notify-item .notify-details .notify-title {
  color: #121715;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  margin-bottom: 5px;
  letter-spacing: -0.4px;
}

#notificationModal.modal .notify-item .notify-details .notify-data {
  color: #6b7280;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 29.52px */
  margin: 0;
}

#notificationModal.modal .notify-item .notify-close {
  padding: 1px 2px;
}

/* small screen */
@media only screen and (min-width: 640px) {
  #notificationModal.modal .modal-dialog .modal-content {
    max-height: 80vh;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  #notificationModal.modal .notify-item .notify-details .notify-title {
    font-size: 20px;
  }
  #notificationModal.modal .notify-item .notify-details .notify-data {
    font-size: 18px;
  }
  #notificationModal.modal .modal-dialog .modal-body.notify-body > * + * {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 639px) {
  #notificationModal .modal-content {
    padding: 12px !important;
}
  #notificationModal .modal-header .btn-close {
    top: 11px;
    right: 15px;
}
}
